<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <!-- <a href="<%= apiUrl %>/auth/verifyEmailToken/<%= token %>"> -->
    <!-- <a href="http://192.168.1.54:9000/user/verifyEmail/<%= token %>"> -->
                        <!-- <button class="my-button">Verify your BlackListed account -->
                            <!-- <img src="https://www.cxc.ai/wp-content/uploads/2024/01/arrow-narrow-right.png"
                                <!-- style="vertical-align: middle;" /> -->
                        <!-- </button> -->
                    <!-- </a> -->
                    
<!-- </body> -->
<!-- </html> --> -->







<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="<%= apiUrl %>/auth/verifyEmailToken?token=<%= token %>">
        <!-- <a href="http://192.168.1.54:9000/user/verifyEmail/<%= token %>"> -->
        <button class="my-button">Verify your BlackListed account
            <!-- <img src="https://www.cxc.ai/wp-content/uploads/2024/01/arrow-narrow-right.png"
                style="vertical-align: middle;" /> -->
        </button>
    </a>
</body>
</html>





